@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;1,9..144,300;1,9..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Fraunces', serif;
  --font-body: 'Outfit', sans-serif;
  --color-bg: #080808;
  --color-surface: #111111;
  --color-surface2: #181818;
  --color-border: #222222;
  --color-muted: #333333;
  --color-text: #f0f0f0;
  --color-text2: #999999;
  --color-accent: #ffffff;
}

html,
body {
  background-color: #080808;
  color: #f0f0f0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*:hover::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
